<div class='row'>
	<div *ngFor="let dog of mockDogs; let i = index" class="success callout small-4">
		<span class='secondary label'>
			<span id='dogIndex'>{{i+1}}</span> of {{mockDogs.length}}</span>
		<span *ngIf="dog.isSenior" class='warning label'>Senior</span>
		<span *ngIf="dog.balance > 200" class='alert label'>
			<i class="fa fa-dollar"></i>
		</span>
		<span [ngSwitch]="dog.examType">
			<ng-template ngSwitchCase="checkup">
				<span class='label'>
					<i class="fa fa-check"></i>
				</span>
			</ng-template>
			<ng-template ngSwitchCase="routine">
				<span class='label'>
					<i class="fa fa-stethoscope"></i>
				</span>
			</ng-template>
			<ng-template ngSwitchCase="major">
				<span class='label'>Major</span>
			</ng-template>
			<ng-template ngSwitchCase="complete">
				<span class='label'>Complete</span>
			</ng-template>
			<ng-template ngSwitchDefault></ng-template>
		</span>

		<img src="{{dog.imageUrl}}" title="{{dog.name}}" alt="{{dog.name}}" class='float-left c-imagePlacement1'>

		<h3>{{dog.name}}</h3>
		<!-- <h3>{{dog.name | curlyQuotes}}</h3> -->
		<p>
			{{dog.age}} year old {{dog.gender}} {{dog.breed || 'unknown breed'}}
			<br/> last in the office {{(dog.lastOfficeVisit?.toDateString() | date:'longDate') || 'never'}}
		</p>
		<span *ngIf="dog.balance > 0">Balance: {{dog.balance | currency:'EUR':true:'1.2-2' }}</span>

	</div>
</div>